{
    "jsonrpc": "2.0",
    "method": "hostgroup.get",
    "params": {
        "output": "extend",
        "search": {
            "name": [ "opsguest" ]
        }
    },
    "auth": "{{ token }}",
    "id": 1
}