{
    "jsonrpc": "2.0",
    "method": "usermacro.createglobal",
    "params": {
        "macro": "{$SNMP_COMMUNITY}",
        "value": "{{ vscs.snmp_community }}"
    },
    "auth": "{{ token }}",
    "id": 20
}