{
    "jsonrpc": "2.0",
    "method": "usermacro.createglobal",
    "params": {
        "macro": "{$PT.OPSMOBILE}",
        "value": "{{ phone.ops_mobile }}"
    },
    "auth": "{{ token }}",
    "id": 21
}