{
    "jsonrpc": "2.0",
    "method": "usergroup.create",
    "params": {
        "name": "opsguest",
        "rights": {
            "permission": 3,
            "id": "12"
        }
    },
    "auth": "{{ token }}",
    "id": 104
}