BOOTPROTO=static
DEVICE=br0
ONBOOT=yes
TYPE=Bridge
{% if "metal01" in inventory_hostname %}
IPADDR="{{ metal01.ip.br0 }}"
{% endif %}
{% if "metal02" in inventory_hostname %}
IPADDR="{{ metal02.ip.br0 }}"
{% endif %}
NETMASK="255.255.255.0"
NM_CONTROLLED="no"
ZONE=trusted
