BOOTPROTO=static
DEVICE=br4
ONBOOT=yes
TYPE=Bridge
{% if "metal01" in inventory_hostname %}
IPADDR="{{ metal01.ip.br4 }}"
{% endif %}
{% if "metal02" in inventory_hostname %}
IPADDR="{{ metal02.ip.br4 }}"
{% endif %}
{% if "metal03" in inventory_hostname %}
IPADDR="{{ metal03.ip.br4 }}"
{% endif %}
NETMASK="255.255.255.240"
NM_CONTROLLED="no"
ZONE=trusted
