{% if "metal01" in inventory_hostname %}
{{ metal01.routes.br4 }} dev br4 table mpls1
{{ metal01.routes.br4 }} dev br4 table mpls2
{{ metal01.routes.br4 }} dev br4 table mpls3
{{ metal01.routes.br4 }} dev br4 table mpls4
{% endif %}
{% if "metal02" in inventory_hostname %}
{{ metal02.routes.br4 }} dev br4 table mpls1
{{ metal02.routes.br4 }} dev br4 table mpls2
{{ metal02.routes.br4 }} dev br4 table mpls3
{{ metal02.routes.br4 }} dev br4 table mpls4
{% endif %}
