{% if "proxy01" in inventory_hostname %}
{{ proxy01.route_sub.ens5 }}/32 via {{ proxy01.gateway.ens5 }} dev ens5 table main
{% endif %}
{% if "proxy02" in inventory_hostname %}
{{ proxy02.route_sub.ens6 }}/32 via {{ proxy02.gateway.ens5 }} dev ens5 table main
{% endif %}