{
    "jsonrpc": "2.0",
    "method": "host.get",
    "params": {
        "output": ["hostid"],
        "tags": [
            {
                "tag": "WL",
                "value": "Yes",
                "operator": 1
            }
        ]
    },
    "auth": "{{ token }}",
    "id": 1
}