{
    "jsonrpc": "2.0",
    "method": "configuration.export",
    "params": {
        "options": {
            "hosts": [
                "{{ item.hostid }}"
            ]
        },
        "format": "json"
    },
    "auth": "{{ token }}",
    "id": 1
}