apiVersion: v1
kind: ConfigMap
metadata:
 name: aws-auth
 namespace: kube-system
data:
 mapRoles: |
   - rolearn: arn:aws:iam::{{ aws.aws_account }}:role/{{ eksCluster.name }}-eksWorkerRole
     username: system:node:{% raw %}{{EC2PrivateDNSName}}{% endraw %}
     
     groups:
       - system:bootstrappers
       - system:nodes
