BOOTPROTO=static
DEVICE=ens1
ONBOOT=yes
TYPE="Ethernet"
{% if "metal01" in inventory_hostname %}
IPADDR="{{ metal01.ip.ens1 }}"
GATEWAY="{{ metal01.gateway.ens1 }}"
{% endif %}
{% if "metal02" in inventory_hostname %}
IPADDR="{{ metal02.ip.ens1 }}"
GATEWAY="{{ metal02.gateway.ens1 }}"
{% endif %}
{% if "metal03" in inventory_hostname %}
IPADDR="{{ metal03.ip.ens1 }}"
GATEWAY="{{ metal03.gateway.ens1 }}"
{% endif %}
NETMASK="255.255.255.0"
NM_CONTROLLED="no"
ZONE=trusted