{% if "metal01" in inventory_hostname %}
{{ metal01.routes.br2 }} dev br2 table control
{{ metal01.routes.br2 }} dev br2 table mpls1
{{ metal01.routes.br2 }} dev br2 table mpls2
{% endif %}
{% if "metal02" in inventory_hostname %}
{{ metal02.routes.br2 }} dev br2 table control
{{ metal02.routes.br2 }} dev br2 table mpls1
{{ metal02.routes.br2 }} dev br2 table mpls2
{% endif %}
{% if "metal03" in inventory_hostname %}
{{ metal03.routes.br2 }} dev br2 table control
{{ metal03.routes.br2 }} dev br2 table mpls1
{{ metal03.routes.br2 }} dev br2 table mpls2
{% endif %}
