{% if "metal01" in inventory_hostname %}
from {{ metal01.routes.mpls2 }} lookup mpls2
from {{ metal01.routes.br3 }} lookup mpls2
from {{ jump.ip }} lookup main
{% endif %}
{% if "metal02" in inventory_hostname %}
from {{ metal02.routes.mpls2 }} lookup mpls2
from {{ metal02.routes.br3 }} lookup mpls2
{% endif %}
{% if "metal03" in inventory_hostname %}
from {{ metal03.routes.mpls2 }} lookup mpls2
from {{ metal03.routes.br3 }} lookup mpls2
{% endif %}
