# Define all config options for the k8s deploy script
#

# EKS lcuster related vars
#
EKS_CLUSTER_NAME="eksOps"

# The path/filename for each k8s yaml definition being deployed
# This doesn't need to be changed unless the git file strcuture changes
#
F_GRAYLOG="../kubernetes/graylog/graylog-allin1-prod.yaml"
F_ZABBIX="../kubernetes/zabbix/zabbix-allin1-prod.yaml"
F_MONGODB="../kubernetes/mongodb/mongodb-allin1-prod.yaml"
F_GRAFANA="../kubernetes/grafana/grafana-allin1-prod.yaml"
F_ELASTIC="../kubernetes/elasticsearch/elastic-allin1-prod.yaml"
