{
    "jsonrpc": "2.0",
    "method": "configuration.export",
    "params": {
        "options": {
            "templates": [
                "{{ item.templateid }}"
            ]
        },
        "format": "json"
    },
    "auth": "{{ token }}",
    "id": 1
}